{% extends "beta/payments/base.html" %}

{% block header %}
<div class="page-header">
    <div class="container">
        <div class="content-center brand">
            <h2 id="status">Connecting...</h2>

            <div class="progress-container progress-primary" id="barholder">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="15"
                        aria-valuemin="0" aria-valuemax="100" id="pb">
                    </div>
                </div>
            </div>
            <small class="text-muted" id="renderid"></small>

            <h3 onlyready>Results:</h3>
            <div class="row justify-content-center" onlyready>
                <div class="card card-body col-3">
                    <img class="img-fluid rounded-circle shadow mt-3 mb-3" src="" alt="Product result"
                        id="img">
                    <button class="btn btn-primary w-100" id="download">Download</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/render.js"></script>
{% endblock %}