{% extends 'base.html' %}
{% block header %}
<div class="page-header">
    <div class="container">
        {% include "flash.html" %}
        <div class="content-center">
            <h2 id="status">Connecting...</h2>

            <div class="progress-container progress-primary" id="barholder">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="15"
                        aria-valuemin="0" aria-valuemax="100" id="pb">
                    </div>
                </div>
            </div>
            <small class="text-muted" id="renderid"></small>

            <div class="row mt-5" onlyready>
                <div class="col-md-6">
                    <h3 onlyready>Results:</h3>
                    <div class="card card-body">
                        <img class="img-fluid rounded-circle shadow mt-3 mb-3 h-100" src="" alt="Product result"
                            id="img" style="min-height: 100%; aspect-ratio: 1/1; object-fit: contain;">
                        <button class="btn btn-primary w-100" id="download">Download</button>
                    </div>
                    <p class="d-block d-md-none d-lg-none d-xl-none">If you like the result, please
                        consider donating to support the
                        project.</p>
                    <a href="https://ko-fi.com/pernydev" target="_blank"
                        class="btn btn-primary btn-round btn-lg d-block d-md-none d-lg-none d-xl-none">Donate</a>
                </div>
                <div class="col d-none d-lg-block d-xl-block">

                    <h3 onlyready>Tip:</h3>
                    <div class="card card-body">
                        <iframe id='kofiframe'
                            src='https://ko-fi.com/pernydev/?hidefeed=true&widget=true&embed=true&preview=true'
                            style='border:none;width:100%;padding:4px;background:#f9f9f9; overflow: hidden;'
                            height='500' title='pernydev'></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/render.js"></script>
{% endblock %}