<div class="modal fade" id="hex2hue" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Convert HEX to HUE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-10">
                        <input type="text" class="form-control" id="hexInput" placeholder="HEX" style="text-transform: uppercase; color: #000000;">
        
                    </div>

                    <div class="form-group col-2">
                        <input type="color" class="form-control" id="hex" value="#000000">
                    </div>
                </div>
                <p>The conversion from HEX to HUE cannot be perfect due to the difference in the number of available colors. While HUE has a limited 360 colors, HEX has a much larger range with over 16 million different colors.</p>
            </div>
        </div>
    </div>
</div>

<script>
    // update the text field with the color and vice versa (no jquery)
    document.getElementById('hex').addEventListener('input', function () {
        document.getElementById('hexInput').value = this.value;
    });

    document.getElementById('hexInput').addEventListener('input', function () {
        document.getElementById('hex').value = this.value;
    });

</script>