{% extends 'base.html' %}
{% block header %}
<div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="section">
        {% include "flash.html" %}
      </div>
      <div class="content-center brand">
        <h1 class="h1-seo">RenderZone</h1>
        <h3>FREE Animated 
         Graphics Maker</h3>
         <!-- scroll down button -->
         <a href="#main" class="btn btn-link btn-primary btn-icon btn-lg">
           <i class="tim-icons icon-minimal-down"></i>
         </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="section container">
    <h2 class="text-center">Free Templates</h2>
    <div class="row justify-content-center">
        {% for p in products["free"] %}
        <div class="col-md-3 col-10 card">
            <img class="img-fluid shadow mt-3 mb-3" src="{{ p['preview-mockup'] }}" alt="Card image cap">
            <h2 class="text-center">{{ p['name'] }}</h2>
            <a class="btn btn-primary mb-3" alink href="/generate/{{ p['uuid'] }}">Generate</a>
        </div>
        {% endfor %}
    </div>

    <h2 class="text-center">Premium Templates</h2>
    <div class="row justify-content-center">
        {% for p in products["paid"] %}
        <div class="col-md-3 col-10 card">
            <img class="img-fluid shadow mt-3 mb-3" src="{{ p['preview-mockup'] }}" alt="Card image cap">
            <h2 class="text-center">{{ p['name'] }}</h2>
            <a class="btn btn-primary mb-3" alink href="/generate/{{ p['uuid'] }}">Generate</a>
        </div>
        {% endfor %}

    </div>

    <div class="row justify-content-center">
      <button class="btn btn-primary col-md-3 col-10" alink href="/browse">Browse all templates</button>
    </div>
    



</div>
{% endblock %}