{% extends 'base/production/base.html' %}
{% block content %}
<div class="container section">
    {% include "base/production/flash.html" %}
    <h1> Browse </h1>
    <div class="col-md-12">
        <div class="row" id="results">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card card-body mb-3">
                    <img class="img-fluid shadow mb-3" src="{{ product['preview-mockup'] }}" alt="Product result">
                    <h3 class="title mb-1 mt-0 text-center">{{ product.name }}</h3>
                    <p class="description">{{ product.description }}</p>
                    <button class="btn btn-primary w-100" alink="/generate/{{ product['uuid'] }}">Generate</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}